
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.search {
    grid-column: 2/3;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: var(--color_3);
}
.search-input-container {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 502px;
    height: 36px;
    border-radius: 11px;
    background-color: white;
    margin-left: 6px;
}
.search-input-container i {
    margin-left: 9px;
    color: var(--color_1);
    font-size: 25px;
}
.search-input {
    width: 100%;
    height: 36px;
    outline: none;
    font-size: 14px;
    border-radius: 11px;
    border: none;
    margin-left: 6px;
    color: #F43F5E;
    font-family: 'Koh Santepheap', sans-serif;
    
}
.search-input:focus,
.search-input.focused {
    border-color: #F43F5E;
}